output
.cache
.vscode
.prettierrc
Testing
opt
*.deb
*.rpm
*bld
build*
!build.sh
!build.py
sqlite_unpatch
sqlite_patch
data/config/config_*.yml
**/*.o
**/*.backup
**/.gdb_history

# Submodule source directories
/sqlite/
/postgres/
/mysql/
/AFLplusplus/
/QueryHouse-sqlglot/
/mariaDB/

#python
__pycache__/
*.pyc
*.pyo
*.pyd
